@import "./custom-f3.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-geist-sans: 'Geist Sans', sans-serif;
  --background: #bec1c1;
  --foreground: #000000;
  --input-bg: #f0f0f0;
  --input-text: #333;
  --input-border: #ccc;
  --button-bg: #007bff;
  --button-text: #ffffff;
  --button-hover: #0056b3;
}

[data-theme="dark"] {
  --background: #403f3f;
  --foreground: #ededed;
  --input-bg: #222;
  --input-text: #fff;
  --input-border: #555;
  --button-bg: #4463b9;
  --button-text: #ffffff;
  --button-hover: #627cc4;
}

body {
  color: var(--foreground);
  background: var(--background);
  transition: background 0.3s ease, color 0.3s ease; 
}